<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">



    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
          En línea: <strong> {{user.NOMBRE}} {{user.APELLIDO}} </strong>
        </span>
        {{#if user.SEXO}}
        <img class="img-profile rounded-circle profile" src="https://api.multiavatar.com/e6337a75a82abedf68.png" />
        {{else}}
        <img class="img-profile rounded-circle profile" src="https://api.multiavatar.com/f3b0d3e45b0a8cfd63.png">
        {{/if}}

      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="/config/mi-perfil/{{user.ID_EMPLEADO}}">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Mi Perfil
        </a>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" id="logout">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Cerrar Sesión
        </button>
      </div>
    </li>

  </ul>

</nav>