<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
    <div class="sidebar-brand-icon">
      <box-icon name='expand-horizontal' class="mr-2" type='solid' color='#fffafa'></box-icon>
    </div>
    <div class="sidebar-brand-text">IS2 Solutions</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-home"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Producción y Garantías
  </div>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-tag"></i>
      <span>Artículos</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/articulos">Inventario</a>
        <a class="collapse-item" href="/">Colores</a>
        <a class="collapse-item" href="/">Tipos</a>
        <a class="collapse-item" href="/">Marcas</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGarantias" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-folder"></i>
      <span>Garantias</span>
    </a>
    <div id="collapseGarantias" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/">Garantias</a>
        <a class="collapse-item" href="/">Soporte</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Proveedores
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/proveedores">
      <i class="fas fa-archive"></i>
      <span>Proveedores</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    CLIENTES Y EMPLEADOS
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-users"></i>
      <span>Personas</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/persona/empleados">Clientes</a>
        <a class="collapse-item" href="/persona/clientes">Empleados</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    TRANSACIONES
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFacturas" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-dollar-sign"></i>
      <span>Facturacion</span>
    </a>
    <div id="collapseFacturas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/transacciones/facturas/new">Ventas</a>
        <a class="collapse-item" href="/transacciones/compras/new">Compras</a>
      </div>
    </div>

    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnaliticas" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-chart-bar"></i>
      <span>Analíticas</span>
    </a>
    <div id="collapseAnaliticas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/analiticas/ventas">Ventas</a>
        <a class="collapse-item" href="/analiticas/compras">Compras</a>
      </div>
    </div>

    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConsultas" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-search"></i>
      <span>Consultas</span>
    </a>
    <div id="collapseConsultas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/consultas/ventas">Ventas</a>
        <a class="collapse-item" href="/consultas/compras">Compras</a>
      </div>
    </div>
  </li>

    <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    CONFIGURACION
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/config/usuarios">
      <i class="fas fa-desktop"></i>
      <span>Usuarios</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSys" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-wrench"></i>
      <span>Sistema</span>
    </a>
    <div id="collapseSys" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/sys/general">Empresa</a>
        <a class="collapse-item" href="/sys/resoluciones">Resoluciones</a>
        <a class="collapse-item" href="/sys/tickets">Tickets</a>
      </div>
    </div>

  
  </li>


  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- 

<script>
    var tipoPrivilegio = `{{user.ID_ROL}}`
    if (tipoPrivilegio === '3') {
        $('#articulos').remove()
        $('#proveedores').remove()
        $('#personas').remove()
        $('#analiticas').remove()
        $('#consultas').remove()
        $('#config').remove()

        // Subdivision
        $('.aut').remove()
    }
    else if (tipoPrivilegio === '2') {
        $('#personas').remove()
        $('#config').remove()
    }
    else if (tipoPrivilegio === '4') {
        $('.diseño').remove()
        $('#facturacion').remove()
    }

</script>

Script Privilegios -->